.info {
	margin: 10px;
}

.item-button {
	display: flex;
	justify-content: center;
	align-items: center;
}

#item-grid {
  display:grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  padding: 1rem;
}
@media only screen and (max-width: 1200px) {
  #item-grid {
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
  }
}

@media only screen and (max-width: 800px) {
  #item-grid {
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
  }
}

@media only screen and (max-width: 500px) {
  #item-grid {
    grid-template-rows: auto;
    grid-template-columns: auto;
  }
}
