<mat-card class="search-box">
  <input [(ngModel)]="searchText" placeholder="Search" class="search-bar"/>
  <mat-icon>search</mat-icon>
</mat-card>
<div id="item-grid">
  <div *ngFor="let item of items | filter: searchText" class="item-card">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ item.name }}
        </mat-panel-title>
        <mat-panel-description>
          <!--<mat-icon>{{ item.icon }}</mat-icon>-->
          <mat-icon [innerHTML]="item.emoji"></mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Description: {{ item.description }} </p>
      <mat-action-row>
        <button mat-raised-button color="accent" (click)="addItemToList({{item.id}})">Add</button>
      </mat-action-row>
    </mat-expansion-panel>
  </div>
</div>