<h2 class="info">
	Select an item from the list below to learn more about it!
</h2>
<mat-grid-list cols="2" rowHeight="20:1">
	<mat-grid-tile>Search Bar</mat-grid-tile>
	<mat-grid-tile>Category Selector</mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="5" rowHeight="2:1">
	<mat-grid-tile *ngFor="let item of items">
		<button mat-raised-button (click)="openHaveList()">
			<mat-list>
				<mat-list-item class="item-button">
					<mat-icon matListIcon>{{ item.icon }}</mat-icon>
				</mat-list-item>
				<mat-list-item>{{ item.name }}</mat-list-item>
			</mat-list>
		</button>
	</mat-grid-tile>
</mat-grid-list>
