@media screen and (min-width: 720px) {
  main {
    max-width: 400px;
    margin: 40px auto;
  }
}

@media screen and (max-width: 720px) {
  main {
    max-width: 350px;
    margin: 40px auto;
  }
}

.mat-list-icon {
  color: white;
}
