<div>
  <div class="welcome-div">
    <div class="text-div">
      <h1>Welcome to Pantry!</h1>
      <h2>Grocery shopping made easy</h2>
    </div>
    <div class="image-grow">
      <img src="../../assets/3_listimage.png" alt="" class="landing-image" />
    </div>
  </div>
  <div class="about-div">
    <div class="about-content">
      <h2>Feature Rich</h2>
      <ul>
        <li>
          <mat-icon class="li-icon">check_circle</mat-icon>
          <div>
            <span>
              Track your grocery list.
            </span>
            <br />
            <span class="secondary-text">
              You can use Pantry to create and keep track of your grocery list.
            </span>
          </div>
        </li>
        <li>
          <mat-icon class="li-icon">check_circle</mat-icon>
          <div>
            <span>
              Share with a group
            </span>
            <br />
            <span class="secondary-text">
              Mantain one shopping list across your friends or family! Share
              your lists with a group to make shopping for the whole household a
              breeze.
            </span>
          </div>
        </li>
        <li>
          <mat-icon class="li-icon">check_circle</mat-icon>
          <div>
            <span>
              Shared Groceries
            </span>
            <br />
            <span class="secondary-text">
              Pantry uses a shared database of items. Not seeing what you want
              on your list? Add it from the items page!
            </span>
          </div>
        </li>
        <li>
          <mat-icon class="li-icon">check_circle</mat-icon>
          <div>
            <span>
              Progressive
            </span>
            <br />
            <span class="secondary-text">
              Need to use Pantry on your phone? Visit the website on your phone
              install it as an app! Pantry was developed as a progressive web
              application, which means it can be installed anywhere!
            </span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
