h1 {
  font-size: 5em;
  font-weight: 400;
  margin: 0px;
  margin-left: 32px;
}

h2 {
  font-size: 2em;
  font-weight: 500;
  padding: 16px;
  margin: 0px;
}

.header {
  background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/pantry/assets/vegetables.jpg), url(/assets/vegetables.jpg);
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  color: white;
  padding: 8px;
  padding-top: 150px;
  padding-bottom: 50px;
}

.header-text {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
}

.about-div {
  padding: 32px;
  padding-bottom: 0px;
  background-color: #424242;
  color: white;
}

.about-content {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
}

.about-header {
  margin-top: -75px;
  background-color: #424242;
  display: table;
  border-radius: 10px;
}

ul {
  margin-left: 0px;
  font-size: 1.5em;
  list-style-type: none;
  padding-inline-start: 0px;
}

li {
  padding: 8px;
  display: flex;
}

.secondary-text {
  font-weight: lighter;
}

.li-icon {
  margin-right: 8px;
}

.developer-section {
  padding: 32px;
}

.developer-header {
  background-color: gainsboro;
  color: black;
  display: table;
  border-radius: 10px;
  position: relative;
  top: 30px;
}

.developer-card-holder {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  place-content: center;
}

.developer-card {
  width: 200px;
  margin-top: 50px;
  text-align: center;
}

.developer-name {
  font-weight: normal;
}

.developer-avatar {
  width: 100px;
  height: 100px;
  margin-top: -60px!important;
  border-radius: 50px;
}