.mat-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 400px;
}

.addButton {
  font-size: 4em;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
  flex-direction: row;
  justify-content: center;
}
