<mat-card>
  <mat-card-header>
    <img mat-card-avatar src="{{ userPic }}">
    <mat-card-title>{{ listName }}</mat-card-title>
    <mat-card-subtitle>Not Shared</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{ cardImage }}" />
  <mat-card-actions align="end">
    <button mat-icon-button [color]="heartColor" (click)="setFavorite()">
      <mat-icon class="list-mark-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
    </button>
    <button mat-icon-button (click)="editList()">
      <mat-icon class="list-mark-icon" aria-hidden="false" aria-label="Example delete icon">edit</mat-icon>
    </button>
    <button mat-icon-button (click)="deleteList()">
      <mat-icon class="list-mark-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
    </button>
    <button mat-icon-button (click)="shareList()">
      <mat-icon class="list-mark-icon" aria-hidden="false" aria-label="Share list icon">share</mat-icon>
    </button>
    <span class="list-header-spacer"></span>
    <button mat-button (click)="openNeedComponent()">OPEN LIST</button>
  </mat-card-actions>
</mat-card>